[2020-10-02 13:15] Bayramito opened #10 "Show more button stays under the text"
Is there any prop or setting to set position for the show more / less buttons?

Becouse show more buttons stays under the actual text

[https://ibb.co/6m66h5R](https://ibb.co/6m66h5R)

[2020-10-06 05:25] fawaz-ahmed commented on #10
@Bayramito can you share screenshot and your code implementation ? So that I may understand better.

[2020-11-03 08:27] Ahmed-ab96 opened #11 "Warning: Invalid argument supplied to oneOfType. Expected an array of check functions, but received an object at index 4."
It works fine, but show this warning
![1](https://user-images.githubusercontent.com/31816755/97963063-75623580-1dc7-11eb-8fe8-264043c525b1.PNG)

[2020-11-11 15:17] fawaz-ahmed commented on #11
Can you please share what props and data are you passing ?

[2020-11-11 15:26] Ahmed-ab96 commented on #11
Here is my code
[code]

and only by importing ReadMore without using it, that warning will appear.

[2020-11-15 18:03] fawaz-ahmed commented on #11
Resolved issue with [PR](https://github.com/fawaz-ahmed/react-native-read-more/pull/13)

Please upgrade to version 1.0.9

[2020-11-15 18:03] #11 closed, assigned to nobody

[2020-11-15 18:05] fawaz-ahmed commented on #10
Closing issue for staying idle

[2021-01-20 22:14] IbrahimCanKALYA opened #17 "Show more always shown"
on ios everything seems fine but on android;
always show more button showing..

[2021-01-21 01:48] fawaz-ahmed commented on #17
@IbrahimCanKALYA can you share some more info like screenshot and some piece of code on how you're using it ?
This can help me fix.

[2021-01-21 23:01] IbrahimCanKALYA commented on #17
![image](https://user-images.githubusercontent.com/33005883/105422873-8d728400-5c55-11eb-8bc9-769831ce8b77.png)

![image](https://user-images.githubusercontent.com/33005883/105422939-a8dd8f00-5c55-11eb-91f1-92d4a1d1ee02.png)

[code]

i'm facing with this issue on samsung s20

[2021-01-21 23:09] IbrahimCanKALYA commented on #17
i find the problem where he is. when i set allowFontScaling={false} this problem accoures but i need to set this parameter

i fixed this issue via this usage:
[code]

[2021-01-24 17:58] #17 closed, assigned to fawaz-ahmed

[2021-01-24 18:00] fawaz-ahmed commented on #17
@IbrahimCanKALYA thanks for providing more info. I've fixed this issue. Now just passing `allowFontScaling={false}` should be sufficient and you can remove `customTextComponent`.
Upgrade to version ^1.1.4

[2021-02-17 00:47] Garytophatter opened #19 "Unable to test my component with ReadMore imported"
`<ReadMore>` component works fine but I have trouble passing our unit tests, as shown below. I tried to mock this component but without much success. Do you know what is going on?
![Screen Shot 2021-02-16 at 4 46 37 PM](https://user-images.githubusercontent.com/67709269/108140245-8c771b80-7076-11eb-9e6d-e2c4450db84a.png)

[2021-02-17 07:15] fawaz-ahmed commented on #19
@Garytophatter can you share your test so that I can try it out

[2021-02-17 18:52] fawaz-ahmed commented on #19
@Garytophatter I have found a solution mentioned [here](https://lifesaver.codes/answer/react-native-syntaxerror-unexpected-token-import). In your `package.json` file you will see:
[code]
replace it with
[code]
Now run your tests and verify.
This will resolve the import issue with jest.
Give it a try! Also I'd appreciate if you can acknowledge whether it works or not.

[2021-02-17 19:28] Garytophatter commented on #19
Unfortunately, I didn't see the line you mentioned in our `package.json`. I just saw `"jest": "^24.5.0"`.

[2021-02-17 19:49] fawaz-ahmed commented on #19
@Garytophatter I created a new react native project and I could see it. Nevertheless you can simply add this in your package.json:
[code]

[2021-02-17 20:01] Garytophatter commented on #19
I added these lines to the package.json and yarn install, but the test is still failing. Will look into this more.

[2021-02-17 20:03] fawaz-ahmed commented on #19
@Garytophatter can you share the error ?
Also make sure the package `babel-jest` is also installed

[2021-02-18 00:21] Garytophatter commented on #19
I tried mocking this component in the test file, and it ended up working. Thanks for your help!

[2021-02-18 09:49] fawaz-ahmed commented on #19
That's great news @Garytophatter . Also if you can share how you managed to resolve this issue, that'll be very helpful. Thanks 👍

[2021-02-18 21:32] Garytophatter commented on #19
I added this line to mock the component and resolved the issue:
[code]

[2021-02-19 07:53] #19 closed, assigned to nobody

[2021-02-22 03:23] MichaelDepp opened #22 "When text truncate with transparent seemore it is not visible"
When I style the SeeMore background as transparent the text seem to be showing making it not visible. It will only visible if I had a background color.
- Hope in the future someone can fix this issue.

<p align="center">
<img width="400px"src="https://user-images.githubusercontent.com/11750694/108652847-13594780-7500-11eb-9981-7a34bfa171d5.PNG")
"/>
</p>

<p align="center">
<img width="400px"src="

[2021-02-22 05:20] fawaz-ahmed commented on #22
Any suggestions on how to fix ?
Right now it uses an opaque background to mask the last few characters.

At the moment, there is a prop for setting the background color of see more `backgroundColor` you can pass in some dark opaque color
________________________________
From: Michael Depp <notifications@github.com>
Sent: Monday, February 22, 2021 8:24:08 AM
To: fawaz-ahmed/react-native-read-more <

[2021-03-01 11:20] fawaz-ahmed commented on #22
@MichaelDepp can you try v2.0.0 and let me know if that resolves your issue.
In v2.0.0 I've added support for transparent background.

[2021-03-16 19:22] S2LF opened #24 "Some forgotten console.log I think"
Hi !

Nice package, helps me a lot in my student project !!

There are some console.log which are displayed when <ReadMore> component are mount.

Not really an issue just maybe an esthetic issue when I'm tring to debug.

![image](https://user-images.githubusercontent.com/49229770/111367063-9c454800-8694-11eb-9741-ca93fb7ac29f.png)

Hope it can help.
S2LF

[2021-03-16 20:11] fawaz-ahmed commented on #24
Hi S2LF,
Well this is very encouraging for me to continue over this module. Thanks for pointing this out. I'll release a fix for this within the next few days.
Cheers,

________________________________
From: S2LF ***@***.***>
Sent: Wednesday, March 17, 2021, 12:22 AM
To: fawaz-ahmed/react-native-read-more
Cc: Subscribed
Subject: [fawaz-ahmed/react-native-read-more] Some forgotten console.log I thi

[2021-03-17 13:38] XamBoy opened #25 "Can We use HTML content inside in this Library"

[2021-03-18 06:16] NimmLor opened #26 "Newlines are not rendered when collapsed"
Also the text wraps up too soon

Code:
[code]

![WhatsApp Image 2021-03-18 at 07 08 40](https://user-images.githubusercontent.com/32486857/111581231-28e92680-87b9-11eb-9562-6018826826a7.jpeg)

![WhatsApp Image 2021-03-18 at 07 08 40 (1)](https://user-images.githubusercontent.com/32486857/111581237-2e467100-87b9-11eb-8375-d1c5ab474394.jpeg)

Currently I'm replacing all `\n` with a whitespace, to av

[2021-03-18 14:57] fawaz-ahmed commented on #26
@NimmLor I need more context on the issues you are trying to resolve. Can you answer these questions:
1_ Newlines are not rendered when collapsed -> does this mean when you're changing the text being passed it's not being shown in collapsed state ? If not, please explain further.
2_ Also the text wraps up too soon -> does this means the animation of collapsing is too quick ? if not please explain

[2021-03-18 15:00] fawaz-ahmed commented on #25
@XamBoy It hasn't been tested with html content and I'm afraid it won't support html out of the box. You can pass any html renderer as a custom component and check if that works.
Another fix would be to rip off tags from tags from html and pass the bare text to this component, as mentioned [here](https://stackoverflow.com/questions/29334984/render-html-in-react-native)

[2021-03-20 19:01] NimmLor commented on #26
Here an example that is a bit more clear. The string contains newlines, however, when it is collapsed the newlines are just ignored and the words are just appended together. However, if it is expanded everything is beaving as it should

[code]
![image](https://user-images.githubusercontent.com/32486857/111882320-4aaefd00-89b5-11eb-95f0-d9f7912f293e.png)

2. In some occasions there are some weird g

[2021-03-21 10:29] NimmLor commented on #26
Created a pull request to fix the issue with the linebreaks #27

[2021-03-21 21:14] fawaz-ahmed commented on #26
@NimmLor there is one problem that I foresee with your PR. If you preserve the line breaks and the last line in collapsed state is occupying the full width. Then, see more might overlap the text. Can you please try this once and let me know ?
If that works fine, then I'll be happy to merge this.

[2021-03-21 21:28] NimmLor commented on #26
It seems to be working fine for me

![ezgif-3-7bd654b1e47b](https://user-images.githubusercontent.com/32486857/111921205-920bbb00-8a93-11eb-9423-0f578de1ae5b.gif)

[2021-03-21 22:58] fawaz-ahmed commented on #26
Looks good. Please update version in package.json to 2.0.1 and I'll merge it.
Thanks for helping Lorenz
________________________________
From: Lorenz Nimmervoll ***@***.***>
Sent: Monday, March 22, 2021 2:28:32 AM
To: fawaz-ahmed/react-native-read-more ***@***.***>
Cc: Fawaz Ahmed ***@***.***>; Comment ***@***.***>
Subject: Re: [fawaz-ahmed/react-native-read-more] Newlines are not rendered when co

[2021-03-25 06:01] NimmLor commented on #26
bumped the version and remove the console.log with the padding

[2021-03-25 23:43] fawaz-ahmed commented on #22
Closing due to inactivity. Also the fix is working fine.

[2021-03-25 23:43] #22 closed, assigned to nobody

[2021-03-25 23:45] #24 closed, assigned to nobody

[2021-03-25 23:45] #26 closed, assigned to nobody

[2021-03-30 08:00] ghost commented on #10
Facing same issue

[2021-03-30 08:39] fawaz-ahmed commented on #10
Can you please provide a screenshot ? Or some sample text with styles ? So that I can reproduce and fix the issue. Thanks,
________________________________
From: leena-sharma ***@***.***>
Sent: Tuesday, March 30, 2021 1:01:07 PM
To: fawaz-ahmed/react-native-read-more ***@***.***>
Cc: Fawaz Ahmed ***@***.***>; State change ***@***.***>
Subject: Re: [fawaz-ahmed/react-native-read-more] Show more but

[2021-04-13 06:37] sukanyaevon opened #28 "Flickering "See more" text on first render on Android."
On iOS it is working fine but on Android when the page loads for the first time, the "See more" text flickers i.e first the text is shown and then "See more" and "ellipsis" shows.
Using react-native latest version 0.63.
[code]

[2021-04-13 06:39] fawaz-ahmed commented on #28
I'll have a look @jeon9878
________________________________
From: jeon9878 ***@***.***>
Sent: Tuesday, April 13, 2021 11:37:17 AM
To: fawaz-ahmed/react-native-read-more ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [fawaz-ahmed/react-native-read-more] Flickering "See more" text on first render on Android. (#28)

On iOS it is working fine but on Android when the page loads for the first time, t

[2021-04-13 06:52] sukanyaevon commented on #28
I tried it with setting `animate={false}` and `debounceSeeMoreCalc={0}`  but still Android seems not to work properly.
Please solution asap

[2021-04-13 07:05] fawaz-ahmed commented on #28
@jeon9878 since it takes 2 renders to complete the calculation on where to position see more therefore you see it later. For the flicker can you share a video ?
Also have you tried setting up the prop
preserveLinebreaks={true}
________________________________
From: jeon9878 ***@***.***>
Sent: Tuesday, April 13, 2021 11:52:39 AM
To: fawaz-ahmed/react-native-read-more ***@***.***>
Cc: Fawaz Ahmed **

[2021-04-13 07:30] sukanyaevon commented on #28
Yes tried this preserveLinebreaks={true} but still not succeded. Here is the video
https://user-images.githubusercontent.com/35032724/114513299-ab012980-9c57-11eb-8e47-958ca1a688e6.mov
_since it takes 2 renders to complete the calculation on where to position see more therefore you see it later._
Quick solutions for this?

[2021-04-13 07:49] fawaz-ahmed commented on #28
@jeon9878 Use version `1.1.5` and make sure to supply prop `backgroundColor` if anything other than `white`
Thanks for sharing the video, I can see the flicker. It should render show more in the correct place rather moving in from the corner. I will take that up!

[2021-04-13 08:57] sukanyaevon commented on #28
@fawaz-ahmed the flickering effect is not happening on version 1.1.5 (y) .
However the show more view size is cropping the text now. The backgroundColor is white only. Please suggest
![Screenshot 2021-04-13 at 2 25 05 PM](https://user-images.githubusercontent.com/35032724/114526058-45676a00-9c64-11eb-8836-c548facf2bb4.png)

[2021-04-13 09:08] fawaz-ahmed commented on #28
@jeon9878 set prop `allowFontScaling={false}` it's a known issue with android also mentioned [here](https://github.com/fawaz-ahmed/react-native-read-more#troubleshooting)
If this doesn't works, try passing the styles for see more, see prop `seeMoreStyle`

[2021-04-13 09:16] sukanyaevon commented on #28
@fawaz-ahmed thanks for your quick solutions. It worked with some styling to `seeMoreStyle`.
One more thing, i need to add underline style to show more text and I have added `textDecorationLine: 'underline'` to `seeMoreStyle` but the underline is showing below the ellipsis too. It should be only below the text.
A great library to use. Just this and it takes away all other

[2021-04-13 09:51] fawaz-ahmed commented on #28
@jeon9878 no quick fix for this
________________________________
From: jeon9878 ***@***.***>
Sent: Tuesday, April 13, 2021 2:16:28 PM
To: fawaz-ahmed/react-native-read-more ***@***.***>
Cc: Fawaz Ahmed ***@***.***>; Mention ***@***.***>
Subject: Re: [fawaz-ahmed/react-native-read-more] Flickering "See more" text on first render on Android. (#28)

@fawaz-ahmed<https://github.com/fawaz-ahmed> thanks

[2021-04-13 10:01] sukanyaevon commented on #28
@fawaz-ahmed on latest version it is working however. Can you please provide how it is handled in latest version?

[2021-04-13 10:47] fawaz-ahmed commented on #28
@jeon9878 you can refer to code. I won't be able to give you all the details here. I'll try to fix this asap but cant give you an estimate, maybe I'll do it around the weekend
________________________________
From: jeon9878 ***@***.***>
Sent: Tuesday, April 13, 2021 3:01:31 PM
To: fawaz-ahmed/react-native-read-more ***@***.***>
Cc: Fawaz Ahmed ***@***.***>; Mention ***@***.***>
Subject: Re: [fawaz

[2021-04-13 11:42] sukanyaevon commented on #28
@fawaz-ahmed ok thank you (y)

[2021-04-22 09:11] fawaz-ahmed commented on #28
@jeon9878 fix for this issue has been added, please upgrade to version 2.0.2

[2021-04-28 07:51] #28 closed, assigned to nobody

[2021-06-10 05:15] kalmahik commented on #10
hi!
the same issue when textAlign: 'right'

[2021-06-10 18:30] fawaz-ahmed commented on #10
@kalmahik thanks for bringing this up. I can fix this but I'll need some help. Can you share some more details around this so that I can reproduce?
Things like styling, text you're passing, props you're passing and also a screenshot will help.

[2021-06-11 10:28] kalmahik commented on #10
thank you for your quick reply)

This is OK
<img width="431" alt="Screenshot 2021-06-11 at 13 19 33" src="https://user-images.githubusercontent.com/20880061/121671879-c651af00-cab7-11eb-97e1-eda3e9179cd7.png">

And then I change align to right:
<img width="423" alt="Screenshot 2021-06-11 at 13 20 00" src="https://user-images.githubusercontent.com/20880061/121672039-fdc05b80-cab7-11eb-8be9-3c7333b1

[2021-07-02 05:40] juliscotto opened #33 "Adding bold text inline"
Hi! I have the username and caption inline but I want to make the username bold and still have the See more button how can I achieve this since they are two different texts Thanks!
<img width="370" alt="Screen Shot 2021-07-02 at 2 37 02 AM" src="https://user-images.githubusercontent.com/30007806/124225870-8a21d500-dade-11eb-9721-f59990f9039e.png">

[2021-07-02 05:43] #33 closed, assigned to nobody

[2021-07-02 05:46] juliscotto commented on #33
nevermind I figure it out using this https://stackoverflow.com/a/38909004/8796056 sorry!

[2021-07-14 05:47] Karansidds opened #34 "Custom See More component doesn't get adjusted based on the width of the container."
![Image from iOS](https://user-images.githubusercontent.com/39003188/125569707-353d51df-b852-40b7-80c6-e946d2e7141d.jpg)

**Description**
When I'm using a custom text for the See More button, it doesn't get adjusted if the width of the container is reduced. The text gets adjusted, but the See More button stays the same and overlaps with the text. I am assuming that the See More button should stay

[2021-07-14 06:07] Karansidds opened #35 "Delay in displaying the See More button."
**Before**
![WhatsApp Image 2021-07-14 at 11 32 30 (1)](https://user-images.githubusercontent.com/39003188/125571134-0fb06c80-5cb7-48d5-8bba-88c5bd9b057b.jpeg)

**After**
![WhatsApp Image 2021-07-14 at 11 32 30](https://user-images.githubusercontent.com/39003188/125571114-3e2f1db6-81c9-4845-9c05-e4e4ba241064.jpeg)

**Description**
When then component is mounted, the text is displayed without the S

[2021-07-22 12:41] Mj835 opened #36 "Read more buttons are not showing"
![image](https://user-images.githubusercontent.com/47300145/126640597-dbc17d8a-4c40-4231-9a6f-52b7515a8253.png)

When I save the file then it is visible but after a while, it happens same no button is visible. Please help it's urgent.

[2021-07-22 12:50] fawaz-ahmed commented on #36
Why are you passing renderTruncatedFooter prop ?

Not sure why it's happening though. Try passing style as a prop in ReadMore itself

<ReadMore style={styles.cardText}>
  It is a long established // and so on
</ReadMore>

[2021-07-22 12:52] fawaz-ahmed commented on #36
Problem can be with the style you are passing. Can you share that as well ?

[2021-07-22 12:54] Mj835 commented on #36
/* eslint-disable prettier/prettier */
import React from 'react';
import {StyleSheet, Text, View} from 'react-native';
import ReadMore from 'react-native-read-more-text';

export default class ReadMoreS extends React.Component {
  render() {
    return (
      <View style={styles.container}>
        <ReadMore
          numberOfLines={2}
          renderTruncatedFooter={this._renderTruncatedFooter}

[2021-07-22 12:54] Mj835 commented on #36
I share my code above please have a look.

[2021-07-22 13:07] fawaz-ahmed commented on #36
Seems you are not using correct lib, follow installation instructions here
https://github.com/fawaz-ahmed/react-native-read-more#installation

and import as defined here
https://github.com/fawaz-ahmed/react-native-read-more#usage

[2021-07-22 13:12] Mj835 commented on #36
Now using correct please check for this issue....

![image](https://user-images.githubusercontent.com/47300145/126644528-456eb8d1-d199-47fc-b92c-51ca633104ba.png)

[2021-07-22 13:41] Mj835 commented on #36
Please help me for this really needed to solve this please

[2021-07-22 14:09] fawaz-ahmed commented on #36
This seems like a styling issue. Try setting flex: 1 or width: '100%' in your container style

[2021-08-11 09:25] roden0609 commented on #36
I am facing the same issue. When I pass the <Text>{"my content"}</Text> element to library, "See more" is overlapping my content. But if I only pass {"my content"} to the library without <Text> element, it is okay to show correctly.

[2021-08-11 10:27] fawaz-ahmed commented on #36
@roden0609 can you share code sample and screenshot as well ? Thanks

[2021-08-11 10:29] fawaz-ahmed commented on #35
@Karansidds thanks for bringing this up ? Any idea how would you expect this to be resolved:
1_ Wait till all calculations are complete and then show the component ?
2_ Any other way ?

[2021-08-11 10:30] fawaz-ahmed commented on #34
@Karansidds thanks for pointing this out. What shall happen in this case ?
Should the see more text start appearing in next line ? please suggest

[2021-08-12 09:11] roden0609 commented on #36
@fawaz-ahmed Thanks for your follow up 🙂!

[code]

![Simulator Screen Shot - iPhone 12 - 2021-08-12 at 17 06 41](https://user-images.githubusercontent.com/11232713/129170271-4293e203-e166-49e3-a3a3-5f9f82b20605.png)

[2021-08-12 09:25] Mj835 commented on #36
Its working fine now and fixed for me

[2021-08-12 09:25] #36 closed, assigned to nobody

[2021-08-16 18:59] ajablanco commented on #10
Hi, facing the same issue. Is there a quick fix for this?

[2021-08-16 21:25] fawaz-ahmed opened #37 "Not working with Parsed Text"
Referencing issue from
https://github.com/fawaz-ahmed/react-native-read-more/issues/36#issuecomment-897476068

[2021-08-16 21:26] fawaz-ahmed commented on #25
Html is not compatible. Closing issue

[2021-08-16 21:26] #25 closed, assigned to nobody

[2021-08-16 21:27] fawaz-ahmed opened #38 "Text align right not supported"
Referencing for this issue
https://github.com/fawaz-ahmed/react-native-read-more/issues/10#issuecomment-859481043

[2021-08-16 21:34] fawaz-ahmed commented on #10
Text align right is not supported. For a quick fix downgrade to version `1.1.5` and supply `backgroundColor` prop

[2021-08-20 10:05] iamhaaamed opened #39 "how to add icon beside see more/less text"
how can I add icon beside see more/less text?
I have used customTextComponent like this:

`
  <ReadMore
            seeMoreStyle={styles.button}
            seeLessStyle={styles.button}
            numberOfLines={3}
            customTextComponent={props => (
              <>
                <Text {...props} />
                <MaterialCommunityIcon
                  name="chevron-down"

[2021-08-20 11:09] fawaz-ahmed commented on #39
@iamhaamed To pass any custom text component, you pass like this
`customTextComponent={Text}`
It means it will use this component to display the underlying text.
Same component is then used to render the main text itself, see more text and see less text.

You can try this, though I haven't tested myself:
[code]

[2021-08-20 12:17] iamhaaamed commented on #39
Thank you it is working now, but it seems we have alignment issue for See more because marginTop and paddingTop is not working properly:

            seeMoreStyle={styles.button}
            seeLessStyle={styles.button}
            numberOfLines={3}
            seeMoreText={
              <>
                <Text style={[styles.button]}>See more</Text>
                <View>
                  <Mat

[2021-08-21 13:05] truongqt opened #40 "SeeMore text cover on content text"
The "SeeMore" text cover on the Content if the width of the Content's View is about ~100 - 200

[2021-08-21 16:28] fawaz-ahmed commented on #40
@truongqt you can reduce the see more text based on your container width, use prop `seeMoreText`

[2021-08-26 02:02] Choyeongdeok commented on #35
how about add loading props like 1_ answer

<ReadMore
    ...
    loading={<custom loading component/>}
    ...
/>

If it is added, loading spinner will be shown until the calculations are complete (async loading)

[2021-08-26 04:33] fawaz-ahmed commented on #35
@Choyeongdeok I will take note of it. Most probably I will add `onReady` callback so anyone can display a loader of their choice or perform some other operation. Thanks for bringing this up. btw PRs are welcome

[2021-10-14 17:44] ghost opened #41 "Not working on react-native version 0.65.1"
the button read more/read less is not present

[2021-10-15 06:16] fawaz-ahmed commented on #41
Hi @mantegnous can you please mention the react native version ?
Also please share the code snippet and screenshot ? Just to be sure everything is okay in the code.
Thanks for pointing this out.

[2021-10-15 07:09] ghost commented on #41
"react-native": "^0.65.1",

 I have update for use my app ith ios 15 and android 12, but, after this, the buttone is missed and the text is cutted

 `<ReadMore
      numberOfLines={3}
      style={styles.regular}
      seeMoreText={'Read more'}
      seeLessStyle={styles.readMore}
      seeMoreStyle={styles.readMore}
      seeLessText={'Read less'}>
      {children}
    </ReadMore>`

    children

[2021-10-15 08:05] ghost commented on #41
The issue is: line state is always 0 , cannot read the length of the text, something must have changed in native events

[2021-10-19 08:39] ghost commented on #41
@fawaz-ahmed any news?

[2021-10-19 08:48] fawaz-ahmed commented on #41
@mantegnous I'm checking now. Will update in an hour or so.

[2021-10-19 10:41] fawaz-ahmed commented on #41
@mantegnous I was able to reproduce the issue and also identify the cause. The fix will be rolled out in next hour

[2021-10-19 12:21] ghost commented on #41
@fawaz-ahmed i have updated at last version, but the bug persist, i dont see the buttons to see more or see less, my text is cutted. version react nativie: 0.65.1

[2021-10-19 12:42] fawaz-ahmed commented on #41
@mantegnous I tested with rn version `0.66.1`. Few things to check:
1_ Version for this package should be `2.2.0`. Make sure to check in `package-lock.json` file or `yarn.lock` file. If not remove package and re-install
2_ Run the example in this project (see README.md), tell me if this works fine or not ?
3_ Share a screenshot of what you are seeing ? it might be some other issue related to styli

[2021-10-19 12:55] ghost commented on #41
@fawaz-ahmed i tried with your example, and without any styles, but i see the text cutted, no label to collpse or extend, i'm in 2.2.0,  with react native 0.65.1,

[2021-10-19 13:01] ghost commented on #41
@fawaz-ahmed in 0.66.1 work correctly, so.. the problem is below 0.66.1

[2021-10-19 13:12] fawaz-ahmed commented on #41
@mantegnous in that case I would recommend you to upgrade your rn version to 0.66.1.

Also I'm attaching screenshots of my example for reference

**iOS collapsed**
![Simulator Screen Shot - iPhone 12 - 2021-10-19 at 18 07 12](https://user-images.githubusercontent.com/17975968/137916200-25250414-492c-4f75-9653-b5131a254f4d.png)

**iOS expanded**
![Simulator Screen Shot - iPhone 12 - 2021-10-19 at 1

[2021-10-19 13:15] ghost commented on #41
@fawaz-ahmed ok i have updated my app, thanks for fix in 0.66.1 !

[2021-10-19 13:20] #41 closed, assigned to nobody

[2021-10-22 03:16] fantasyado opened #43 "Couldn't find any versions for "react-native-read-more" that matches "^2.2.0""
I  see the latest version is 2.2.0 on npm but when running yarn it only fetches the v1.0.0 and displays the following info.
I have no idea what's wrong here.

yarn install v1.22.4
[1/4] 🔍  Resolving packages...
Couldn't find any versions for "react-native-read-more" that matches "^2.2.0"
? Please choose a version of "react-native-read-more" from this list: (Use arrow keys)
❯ 1.0.0

[2021-10-22 03:29] fawaz-ahmed commented on #43
@fantasyado the name of this package is:
`@fawazahmed/react-native-read-more`

[2021-10-22 05:05] fantasyado commented on #43
Thanks, I'm so careless ：）

[2021-10-22 05:05] #43 closed, assigned to nobody

[2021-11-09 11:09] markusmunk opened #44 "Readmore doesnt show anything on IOS, but works fine on Android"

[2021-11-09 11:10] markusmunk commented on #44
import ReadMore from "@fawazahmed/react-native-read-more";

<ReadMore
                numberOfLines={5}
                style={styles.descriptionText}
                /* seeMoreStyle={styles.readmoreAndLessbtnStyle}
                seeLessStyle={styles.readmoreAndLessbtnStyle} */
                seeMoreText="more"
                seeLessText="less"

                {item.description}

[2021-11-09 19:38] fawaz-ahmed commented on #44
@markusmunk thanks for sharing this. In order to fix this I'll need some more info:
- Your react native version
- styles.descriptionText

[2021-11-18 10:31] nishanttatva opened #45 "iOS seeMoreText not rendered correctly"
## Bug
Firstly, great library! Works pretty well for most use cases.
I'm facing an issue on iOS, where if I set `numberOfLines={2}`  leads to the seeMoreText being rendered incorrectly. It overlaps on the 2nd line, while the 1st line of text shows the calculated padding for seeMoreText.
Please see the attached screenshot in steps below

## Platform
* iOS

## Environment info

React native info out

[2021-11-18 10:37] nishanttatva commented on #45
@fawaz-ahmed
Digging into the implementation, found that commenting these lines fixes the issue
https://github.com/fawaz-ahmed/react-native-read-more/blob/2f163035d2ec420d37b1d104df70b5c3ca99e072/example/src/ReadMore.js#L221-L230

Can you tell me why these lines are required for iOS platform?

[2021-11-18 10:45] fawaz-ahmed commented on #45
@nishanttatva thanks for putting this up nicely. Really appreciate!

To explain why we have these lines that you have pointed above:
In iOS, if there are empty lines above the line of impact (which is 2nd line in your case). It automatically removes those. So I have to verify again at what position is the actual line of impact.
Explaining more:
If line 1 was having some text,
line 2 was empty
line

[2021-11-18 11:00] nishanttatva commented on #45
That was a quick response! :raised_hands:  @fawaz-ahmed

Which variables do you mean here?

[2021-11-18 12:01] fawaz-ahmed commented on #45
@nishanttatva replace this
[code]
with
[code]
and send me the logs, thanks!

[2021-11-18 12:23] nishanttatva commented on #45
@fawaz-ahmed
Apologies, the description text is bit large. Attaching a log file below. Let me know if you need a shorter reproducible text, I'll try my best to share that soon.
[number-of-lines-error-log.txt](https://github.com/fawaz-ahmed/react-native-read-more/files/7562712/log.txt)

[2021-11-18 13:21] #45 closed, assigned to nobody

[2021-11-18 13:24] fawaz-ahmed commented on #45
@nishanttatva upgrade to ver 2.2.1

[2021-11-27 13:02] omaryoussef commented on #35
@fawaz-ahmed First thanks for getting this library out, it's really amazing what you've accomplished with it so far. But honestly before saying PRs are welcome you should maybe try to make your code a bit more understandable. `setMountHiddenTextTwo` `setMountHiddenTextFour` and other odd naming choices make it very difficult to debug or contribute to your library in any meaningful way.

I've waste

[2021-11-28 12:37] fawaz-ahmed commented on #35
@omaryoussef upgrade to ver 2.2.2
Also to explain a bit on the number in layout events, they specify the order in which measurements are made.

[2021-12-05 16:49] ghost commented on #35
that doesnt solve the issue, the event only triggers when the component is shown this makes no sense

[2021-12-05 17:56] fawaz-ahmed commented on #35
@falk-png do you have any solution ?
Let me give you a little background to this issue. The library depends on layout events which is triggered after the component is mounted. So calculations are performed after the component is mounted. Also to perfect the measurements, another hidden components are mounted and unmounted after calculations are complete.
One way to overcome this was to have an onR

[2021-12-19 23:06] JRyanSaunders opened #49 "Logs in Metro causing my application to crash."
This read more component is outputting tonnes of logs into my metro with "padding 238.33... 65.34... 332" every few milliseconds when the content is not expanded. Once opened and I press read more - the logs stop. I believe this is what is causing my application to crash. I once left my screen open for a while with all of these logs and it came up with a warning that said "Please report: excessive

[2021-12-19 23:14] fawaz-ahmed commented on #49
@JRyanSaunders thanks for reporting. I'll check this out. Is there any stacktrace to this error or is it just repeating logs ?
Another question, are you rendering a list of read more component? How many if so ? Is it inside a flatlist ?
The higher issue I see here is that the logs appear to be running in a loop. If you can share some piece of code I can replicate this issue.

[2021-12-20 00:22] fawaz-ahmed commented on #49
@JRyanSaunders I checked code and didnt found any console logs. Maybe you are using an old version. Upgrade to v2.2.2

[2021-12-20 22:51] JRyanSaunders commented on #49
@fawaz-ahmed I updated to the latest version and it seems to have fixed it! Thanks mate :)

[2021-12-20 22:56] fawaz-ahmed commented on #49
Super. Glad you're unblocked.

[2021-12-20 22:56] #49 closed, assigned to nobody

[2021-12-20 22:59] fawaz-ahmed commented on #44
@markusmunk I'll be closing this issue due to no response. Also ver 2.2.2 was released. You may want to upgrade the package and try again. Incase issue persists, feel free to reopen. Thanks,

[2021-12-20 22:59] #44 closed, assigned to nobody

[2021-12-20 23:01] fawaz-ahmed commented on #40
@truongqt a bug was fixed related to measurements. You may want to upgrade to ver 2.2.2 and try if the issue persists. Incase it does, feel free to reopen the issue.

[2021-12-20 23:01] #40 closed, assigned to nobody

[2021-12-20 23:05] fawaz-ahmed commented on #35
@falk-png I'm closing this issue due to no response or better ideas. onReady callback will serve the purpose for waiting till the see more text is shown and if anyone wants to show a spinner while measurements are done, can do so with the help of onReady callback.

[2021-12-20 23:05] #35 closed, assigned to nobody

[2021-12-20 23:09] fawaz-ahmed commented on #10
Closing this issue in favor of
https://github.com/fawaz-ahmed/react-native-read-more/issues/38
Since right align is currently not supported.

[2021-12-20 23:09] #10 closed, assigned to nobody

[2022-01-22 13:20] phuocantd opened #51 "How to custom fontFamily?"
I want to custom fontFamiy for text style

[2022-01-22 14:07] fawaz-ahmed commented on #51
@phuocantd pass `fontFamily` in `style` prop like you would normally pass to a `Text` component.

[2022-01-22 14:25] phuocantd commented on #51
sorry i used the wrong font name

[2022-01-22 14:25] #51 closed, assigned to nobody

[2022-02-05 07:10] pandiarajanvp opened #52 "Read More Text Overlapping"
when content is a short message at the time read more text gets overlap with content

![Read More Overlap](https://user-images.githubusercontent.com/14094640/152632500-2fffb1c1-e640-4875-bf9a-b936aec8fa02.png)

and Readmore padding styles not working

[2022-02-05 12:06] fawaz-ahmed commented on #52
@pandiarajanvp thanks for raising this issue. Some more info I need to resolve this.
What is the width of parent View container ?
What is the width of Text container ?

Can you set some background color for both and send me a screenshot again ?

[2022-02-07 23:50] fawaz-ahmed commented on #52
@pandiarajanvp please upgrade to ver `2.3.1`
Also it would be great if you can let us know if the issue is fixed.

If not try passing prop:
[code]

[2022-02-08 13:00] pandiarajanvp commented on #52
Thanks for your reply,

I tried the above version has same issue

<img width="357" alt="image" src="https://user-images.githubusercontent.com/14094640/152991266-43e43212-0d3e-467e-84c0-93840c07ffeb.png">

when i change the code in file name : ReadMore.js line no 588

<View style={seeMoreContainerStyle} onLayout={onSeeMoreViewLayout}>

changed to

 <View style={[seeMoreContainerStyle,{position:'rel

[2022-02-08 21:09] fawaz-ahmed commented on #52
@pandiarajanvp added a prop `seeMoreContainerStyleSecondary` to address your issue. Upgrade to ver 2.3.2.

To explain further this doesn't addresses the issue, it's just a hack and may fail.
The see more container is positioned absolute so that it may adjust from right side to be placed next to ellipsis.

You can pass prop now like `seeMoreContainerStyleSecondary={{ position: 'relative' }}`

[2022-02-12 05:48] PopJoestar opened #55 "Adding support for HTML text"
Hi, thanks for this great package, I think it will be good if we add support for HTML text, currently I'm using text-clipper in my project.

[2022-02-12 14:21] fawaz-ahmed commented on #55
Hi @PopJoestar, thanks for those kind words.

The idea seems nice. I will think around it and explore a bit. The problem arises with edge cases, like if a user clicks on a link, since its html then what should happen ? If images are there inside then how to handle those ? Or shall we have another lib with webview for react native ?
If you have some more input on dealing with these please feel free

[2022-02-12 14:34] PopJoestar commented on #55
I thought we could improve the current renderer to support HTML by passing HTML renderers like [https://github.com/meliorence/react-native-render-html](url) through the `customTextComponent` props.

[2022-02-12 21:27] fawazahmed-yara commented on #52
@pandiarajanvp is the issue resolved?

[2022-02-12 21:28] fawaz-ahmed commented on #52
@pandiarajanvp is the issue resolved?

[2022-02-13 05:20] pandiarajanvp commented on #52
Thanks for your response, It's working well.

But I am facing someone issue.
when I use ellipsis='...' (as default ) Readmore text and content  get flicker

<ReadMore
                  numberOfLines={
                    props.linesType == 'multilines' ? props.NumberOfLines : 5
                  }
                  allowFontScaling={false}
                  seeMoreStyle={{
                    colo

[2022-02-13 16:13] fawaz-ahmed commented on #52
Problem seems with css.

Remove these properties from `style`, maybe you can move them to wrapperStyle:
marginRight
position

Remove prop seeMoreContainerStyleSecondary

________________________________
From: pandiarajanvp ***@***.***>
Sent: Sunday, February 13, 2022 10:21:09 AM
To: fawaz-ahmed/react-native-read-more ***@***.***>
Cc: Fawaz Ahmed ***@***.***>; State change ***@***.***>
Subject: Re:

[2022-02-21 14:32] fawaz-ahmed commented on #55
Hi @PopJoestar, with `text-clipper` it's possible to render html inside `ReadMore` component:

[code]
Thanks for pointing out to this great lib: https://github.com/arendjr/text-clipper

[2022-02-21 15:22] fawaz-ahmed commented on #52
@pandiarajanvp I did some more debugging around this. This lib `ReadMore` does not supports any nested components other than `Text`. Please make sure you are not passing any nested components other than `Text`.

**// incorrect**
[code]

Update to ver 2.3.3 and try once again if possible.

[2022-02-21 16:03] fawaz-ahmed commented on #37
Sample code:
[code]

[2022-02-21 16:08] fawaz-ahmed commented on #37
However, formatting goes away while collapsed:
<img width="821" alt="Screen Shot 2022-02-21 at 9 05 11 PM" src="https://user-images.githubusercontent.com/17975968/154990666-d6988bb7-2c7c-46dd-8c13-f1105d33cfd5.png">
<img width="825" alt="Screen Shot 2022-02-21 at 9 07 33 PM" src="https://user-images.githubusercontent.com/17975968/154991097-c7d95f40-856e-469b-8e35-6093ebfd34bd.png">

[2022-02-21 16:26] fawaz-ahmed commented on #34
Closing this issue due to no response

[2022-02-21 16:26] #34 closed, assigned to nobody

[2022-02-22 12:59] PopJoestar commented on #55
Hi @fawaz-ahmed , thanks for the tips! I'm already using it in my project with react-native-render-HTML but I haven't tested it yet with your library

[2022-02-22 14:09] fawaz-ahmed commented on #55
I've tested and shared the sample code. It works great. Thanks @
________________________________
From: PopJoestar ***@***.***>
Sent: Tuesday, February 22, 2022 5:59:35 PM
To: fawaz-ahmed/react-native-read-more ***@***.***>
Cc: Fawaz Ahmed ***@***.***>; Mention ***@***.***>
Subject: Re: [fawaz-ahmed/react-native-read-more] Adding support for HTML text (Issue #55)

Hi @fawaz-ahmed<https://github.co

[2022-03-16 08:51] EdgarPetrosian opened #58 "Add text props support to remove See More and See Less onPress Highlighting"
Please add -> suppressHighlighting ->  iOS
When true, no visual change is made when text is pressed down. By default, a gray oval highlights the text on press down.

More about this you can reed in react-native text documentation 👇
https://reactnative.dev/docs/text#suppresshighlighting-ios

[2022-03-16 11:32] fawaz-ahmed commented on #58
Hi @EdgarPetrosian , if you pass any props to `ReadMore` component, it's passed down to the see more or less component. Please try it out:
[code]

[2022-03-29 20:59] matziol opened #59 "Prop seeMoreContainerStyleSecondary is required"
Property `seeMoreContainerStyleSecondary` is required in typescript declaration but docs says that it's optional. Probably it should be optional in index.d.ts too. Now I need to pass it as empty object as workaround

[2022-03-30 20:28] #59 closed, assigned to nobody

[2022-03-30 20:32] fawaz-ahmed commented on #59
Released changes with ver 2.3.5

[2022-04-04 13:00] fawaz-ahmed commented on #58
@EdgarPetrosian can you please confirm if this issue is resolved ?

[2022-04-11 01:22] fawaz-ahmed commented on #58
Closing issue due to no response! If issue persists feel free to re-open

[2022-04-11 01:22] #58 closed, assigned to nobody

[2022-04-14 08:50] saad9624-tribalScale commented on #55
ITs not showing complete HTML just showing  9 lines without picking html classes

[2022-04-14 09:19] fawaz-ahmed commented on #55
@saad9624-tribalScale can you share the response you are getting from the `clip` method.
I need to know if my lib is showing less lines or is `clip` method returning lesser text.

[2022-04-14 09:46] saad9624-tribalScale commented on #55
Yeah, its working after adding width to undefined.

[2022-04-14 11:17] saad9624-tribalScale opened #61 "Handle Read More/ Read Less from outside."
Is there any prop available to handle read more / read less from outside. like on button press or something.

[2022-04-14 14:14] fawaz-ahmed commented on #61
@saad9624-tribalScale you can use the `onExpand` and `onCollapse` callback props

[2022-04-15 06:42] saad9624-tribalScale commented on #61
"optional callback executed when expanded"

I didnt find any option to call this function from outside of ReadMore component. It's just executing when expanded.

[2022-04-15 06:49] fawaz-ahmed commented on #61
@saad9624-tribalScale none of the methods can be called from outside. Can you explain what is the use case that you're trying to achieve ?

[2022-04-15 06:51] saad9624-tribalScale commented on #61
I am trying to expand and collapse from onPress event of custom button. Is it doable?

[2022-04-15 06:56] fawaz-ahmed commented on #61
@saad9624-tribalScale at the moment its not supported

[2022-04-15 07:01] saad9624-tribalScale commented on #61
I am trying to do this externally because customComponent is not very customizable.

[2022-04-15 07:25] fawaz-ahmed commented on #61
@saad9624-tribalScale in this file https://github.com/fawaz-ahmed/react-native-read-more/blob/master/example/src/ReadMore.js line 182
The `toggle` method, you need to call this from outside.

Pass a ref to ReadMore and try calling this method.

Otherwise you can raise a PR, I can merge it.

[2022-04-15 07:33] saad9624-tribalScale commented on #61
Sure, Thanks.

[2022-04-21 01:21] patidararvind opened #62 ""more" text alignment issue when we passed font size for more text"
Please could you give solution for that issue .
Thanks
![Simulator Screen Shot - iPhone 13 - 2022-04-21 at 06 49 16](https://user-images.githubusercontent.com/6198959/164352637-0c6c153c-2e18-4afa-a7d4-899621ad9f1c.png)

My code
 <ReadMore
            style={[styles.text, descText]}
            numberOfLines={numberOfLineDisplay}
            seeMoreText={'more'}
            seeLessText={'less'}

[2022-04-21 03:58] ChrisLFieldsII opened #63 "Support optional custom function when See More pressed"
Hello,

I am using this component in a project and it works perfectly!

There is one use case I needed and had to use patch-package to add for my project, and that is the ability to use a custom function when "See More" is clicked.

For example, when "See More" is clicked, instead of expanding text, open up a modal.

[Here](https://drive.google.com/file/d/1k-LJIp1OJ4wlNiUjKOmpipa-NzzVB7Qq/view?usp

[2022-04-21 04:15] fawaz-ahmed commented on #62
Hi @patidararvind , thanks for sharing this. The styles you are passing seem to have a text value in the array:
[code]
Can you please remove it and test ?

Replace:
[code]
with
[code]

In any case I will try to reproduce this (maybe over the weekend, cannot guarantee a timeline) and post back here. If the above fix resolves the issue, then please respond in the thread. Thanks,

[2022-04-21 04:22] fawaz-ahmed commented on #63
Hi @ChrisLFieldsII I like the idea. Also I reviewed the patch file and the video. Looks like a nice addition we can have.

I'd just say the name `onToggle` isn't a best fit. It should be something like `blockedToggle` or `onSeeMoreBlocked` or something which will indicate the purpose in a better way.

Having said that a PR would be highly appreciated!!

[2022-04-21 17:31] ChrisLFieldsII commented on #63
I agree on the naming!

I can name it `onSeeMoreBlocked` and document that when a function is passed, this prop will disable the default See More toggling and use the custom callback instead.

I'll try to open a PR this weekend for it.

[2022-04-23 10:09] fawaz-ahmed commented on #63
@ChrisLFieldsII wonderful.

Once you're about to raise a PR, just make sure to update these:
1_ In package.json update version `2.3.5` to `2.3.6`
2_ Update the newly added prop in readme.md

Thanks,

[2022-04-23 17:42] fawaz-ahmed commented on #63
Thanks @ChrisLFieldsII , the feature is published. Ver 2.3.6

[2022-04-23 17:42] #63 closed, assigned to nobody

[2022-04-23 19:54] ChrisLFieldsII commented on #63
Awesome!

Thanks for the package, saved us quite a bit of time @fawaz-ahmed

[2022-05-18 22:54] UmarFKhawaja opened #65 "CustomTextComponent issues"
I am trying to render some Markdown formatted text in a ReadMore. For this to work, I have to send the `Markdown` component to `ReadMore` in the `customTextComponent` prop.

When I do the following, it produces an error: `undefined is not an object (evaluating 'node.children.map')`

This seems to be an error from within the `Markdown` component.

[code]

The same thing happens if I provide a simpl

[2022-05-19 05:43] fawaz-ahmed commented on #65
Hi @UmarFKhawaja , thanks for putting this bug here. I will try to reproduce this.

For multiple rendering, this component actually renders the component multiple times (hidden behind) to calculate the text width and lines. Also the see more and see less texts are rendered separately using the custom component.

[2022-05-20 08:59] UmarFKhawaja commented on #65
Thanks @fawaz-ahmed. When I say rendered twice, I mean that it shows up twice on screen, not rendered in the sense that the render loop is run twice.

[2022-05-20 09:02] fawaz-ahmed commented on #65
I see. Can you share a screenshot ?
________________________________
From: Umar Farooq Khawaja ***@***.***>
Sent: Friday, May 20, 2022 1:59:51 PM
To: fawaz-ahmed/react-native-read-more ***@***.***>
Cc: Fawaz Ahmed ***@***.***>; Mention ***@***.***>
Subject: Re: [fawaz-ahmed/react-native-read-more] CustomTextComponent issues (Issue #65)

Thanks @fawaz-ahmed<https://github.com/fawaz-ahmed>. When I s

[2022-05-27 02:48] phuocantd opened #66 "ellipsis override text content when I using seeLessText is japanese"
![image](https://user-images.githubusercontent.com/31690470/170618984-50601e34-f26a-4130-ac1f-16df3f9e739f.png)

[2022-05-27 05:36] fawaz-ahmed commented on #66
Hi @phuocantd , thanks for posting this bug. Can you also paste the text here ? it will help me fix the issue.

[2022-05-30 02:28] phuocantd commented on #66
Sorry for to late, text is `続きを読む`

[2022-05-30 17:19] UmarFKhawaja commented on #65
Apologies about the delay. Here's a screenshot.

![Photo 30-05-2022, 18 16 10](https://user-images.githubusercontent.com/1454338/171037511-c69bce9a-e913-4b69-9d7a-5a25d776174f.png)

[2022-05-31 09:25] UmarFKhawaja commented on #65
The first two paragraphs in the screenshot above are being rendered via the ReadMore component, starting from "Fusce" and ending at "aliquet".

[2022-05-31 10:19] fawaz-ahmed commented on #65
@UmarFKhawaja I debugged a bit. The problem is the Markdown component is not passing additional props like onLayout or onTextLayout down to the children component. ReadMore component will not work without it, since it needs those callback props to measure the text width and lines.

[2022-05-31 10:25] fawaz-ahmed commented on #66
Hi @phuocantd , tried with your text. I wasn't able to reproduce. Can you share the
1_ complete text ?
2_ your simulator/device ? android or ios
3_ your device's language ? (in device settings)
<img width="836" alt="Screen Shot 2022-05-31 at 3 25 25 PM" src="https://user-images.githubusercontent.com/17975968/171152849-83754b24-a631-4d08-ad91-6cb901bb41ac.png">

[2022-05-31 10:29] fawaz-ahmed commented on #66
@phuocantd update, after posting this image I noticed an overlap in iOS.

Use prop: `seeMoreOverlapCount={5}`

You can increase the value to 5 or higher. Default is 2.

[2022-05-31 11:00] #55 closed, assigned to nobody

[2022-05-31 11:20] fawaz-ahmed commented on #52
Closing due to inactivity

[2022-05-31 11:23] fawaz-ahmed commented on #65
Since the issue is with Md component not passing down all props to child components, I will de-scope this issue and close this bug. @UmarFKhawaja if you have any update, you may re-open.

PS: You can resolve this issue with forking the original Md github repo and update it to pass down all props down to the lowest Text component: index -> AstRenderer -> rules based components

[2022-05-31 11:23] #65 closed, assigned to nobody

[2022-06-01 03:53] phuocantd commented on #66
using `seeMoreOverlapCount` fixed for me. Thank you

[2022-06-01 03:53] #66 closed, assigned to nobody

[2022-06-22 05:16] amang-dew opened #67 "Border line attributes Not applicable on seeLessStyle."
seeLessStyle: {
    fontFamily: FONT_FAMILY.OpenSansRegular,
    fontSize: normalize(14),
    color:colors.inactiveTabColor,
    borderBottomWidth:1,
    borderColor:colors.activeButtonColor
  }

<ReadMore style={styles.caption}
                seeMoreText={'See More'}
                seeMoreStyle={styles.seeMoreStyle}
                seeLessText={'See Less'}
                seeLessStyle={styles.s

[2022-06-22 05:53] fawaz-ahmed commented on #67
@amang-dew border will not appear in `see less` since it's a nested text component. You can use the underline css:
[code]

[2022-06-22 06:09] amang-dew commented on #67
Thanks @fawaz-ahmed. It works for me.

[2022-06-22 06:09] #67 closed, assigned to nobody

[2022-07-01 10:16] matziol opened #68 "onReady callback never called when text have less lines than `numberOfLines`"
When passed text is shorter and evaluating to less lines than `numberOfLines`. This is how it looks with example app and `numberOfLines={3}`:
[code]

https://user-images.githubusercontent.com/73690392/176875170-faeb27b6-523c-41fb-8284-f0d19eb98d95.mp4

AND

[code]

https://user-images.githubusercontent.com/73690392/176875337-d5079adf-7326-4580-b6e7-686339a04fef.mp4

[2022-07-02 14:40] fawaz-ahmed commented on #68
@matziol thanks for bringing this up. I'll debug this.

[2022-07-03 20:07] #68 closed, assigned to nobody

[2022-07-03 20:11] fawaz-ahmed commented on #68
@matziol fix released in ver 2.3.7

[2022-07-03 20:55] matziol commented on #68
Working well, thank you!

[2022-09-18 20:13] naor572 commented on #52
hey fawaz I have the same problem with the see more.
its overlaps on my text... i tried what you wrote here but didnt succuess solve the problem....
can you write me what i need to do?

[2022-09-18 21:06] fawaz-ahmed commented on #52
Hi @naor572 , I'd be glad to be of help. For that I need to see what's happening. Can you create a repo and reproduce this issue ? So that I can run it and check what's going wrong.
OR
any other way I can debug on what the problem is ?

[2022-11-09 20:52] rawroland commented on #61
@fawaz-ahmed I had difficulties passing a ref, so I created a pr which adds a `collapsed` prop (https://github.com/fawaz-ahmed/react-native-read-more/pull/70). Hope this could solve the problem.

[2022-11-11 11:58] hotaryuzaki opened #71 "after using this library all my screen has animation"
it's weird issue, after using this package in one of my screen then suddenly all my screen has animation.
example:
- smooth animation fade in and fade out transition
- in cart screen i have delete product function, when the product deleted from the state layout has bouncing animation transition.
- bouncing animation when user sliding up the bottom sheet

when i remove the import script of this pac

[2022-11-11 12:09] hotaryuzaki commented on #71
i think this is the problem

[code]

this feature create bugs,
- some modal doesn't have overlay background
- in cart screen product list container height not change, in the beginning i have 3 products and i delete 2 products so the list product container showing empty space after product deleted

[2022-11-11 13:08] fawaz-ahmed commented on #71
@hotaryuzaki you can disable animation by passing `animate={false}`

[2022-11-11 13:43] hotaryuzaki commented on #71
read more animation is disable but the problem still exist

it solves when i change to this
[code]

[2022-11-15 05:02] fawaz-ahmed commented on #71
@hotaryuzaki I will remove this piece of code from my lib to enable layout animation, since that should be handled by the app itself. Will raise a PR soon.